# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Misc
coverage/